/*Обнуление*/
*,
*::after,
*::before{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul,
ol,
li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6{
	font-weight: inherit;
	font-style: inherit;
}
html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

html {
  background-image: url(/img/back.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.swiper-wrapper{
	/* padding: 0px 10%; */
	max-height: 80%;
	align-items: center;
	/* margin-left: 10%;
	margin-right: 10%; */
}
/*------------------------------*/

/*Flex*/
.block{
	width: 100%;
	display: flex;
	height: 100vh;
}

.block__body{
	width: 100%;
	padding: 0px;
	flex: 1 1 auto;
	min-width: 0;
}
/*------------------------------*/

.image-slider{
	height: 80%;
	width: 100%;
}

.image-slider__slide{
	width: 100%;
  min-height: 75%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3% 12%;
  text-align: left;
  overflow: visible;
}


.image-slider__image{
	text-align: center;
}

.image-slider__image img{
	max-width: 50%;
	max-height: 50%;
}

.image-slider__wrapper{
	margin: auto;
	top: 10%;
	text-align: center;
}
/*Стрелки*/
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after{
	color: #fff;
	font-size: 80px;
}
/* 
Пагинация
.image-slider .swiper-pagination{
	bottom: 0;
}
Буллеты
.image-slider .swiper-pagination-bullet{
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-style: 14px;
	background-color: #fff;
}  */

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 0;
}
.gallery-thumbs .swiper-slide {
  opacity: 0.4;
	filter: grayscale(100%);
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
	filter: grayscale(0%);
}

.gallery-thumbs__slide img{
	width: 250px;
  height: 100px;
	border-radius: 25px;
}

/* iframe {
	width: 67%;
	height: 55vh;
	min-width: 2px;
	position: relative;
	display: block;
	float: left;
	clear: left;
	overflow: hidden;
	background-size: 100%;
	box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	margin:auto;
} */

video {
	object-fit: contain;
	overflow-clip-margin: content-box;
	overflow: clip;
}
.video {
	width: 65%;
	min-width: 2px;
	position: relative;
	display: block;
	float: left;
	clear: left;
	height: calc(0.65 * 56.25%)*4;
	overflow: hidden;
	background-size: 100%;
	box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
}
.description {
	width: 30%;
	float: left;
	margin-left: 20px;
	height: 100%;
}
p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	line-height: 1.5em;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-project {
	font-family: "Bebas Neue", sans-serif;
	font-size: 3rem;
	font-weight: normal;
	font-style: normal;
	color: #2e313a;
	margin-top: 0px;
	/* text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.4); */
	margin-bottom: -1rem;
	padding-bottom: -1rem;
}
.label {
	border-radius: 4px;
	font-family: Helvetica;
	font-size: 1em;
	text-align: center;
	color: #fff;
	padding: 5px;
	line-height: normal;
	padding-left: 6px;
	padding-right: 6px;
	display: inline-block;
	margin-bottom: 0.3em;
	margin-right: 0.3em;
}

.actiongame {
	background-color: #A63661;
	content: 'Action Game';
}
.shooter {
	background-color: #C83456;
	content: "First-person shooter";
}
.access {
	background-color: #492E34;
	content: "Early Access";
}

a:link, a:visited, a {
	/* color: #f03; */
	color: #000;
	font-style: italic;
	text-decoration: underline;
	cursor: pointer;
}



